@theme {
    /* stone */
    --color-ash-50: oklch(98.5% 0.001 106.423);
    --color-ash-100: oklch(97% 0.001 106.424);
    --color-ash-200: oklch(92.3% 0.003 48.717);
    --color-ash-300: oklch(86.9% 0.005 56.366);
    --color-ash-400: oklch(70.9% 0.01 56.259);
    --color-ash-500: oklch(55.3% 0.013 58.071);
    --color-ash-600: oklch(44.4% 0.011 73.639);
    --color-ash-700: oklch(37.4% 0.01 67.558);
    --color-ash-800: oklch(26.8% 0.007 34.298);
    --color-ash-900: oklch(21.6% 0.006 56.043);
    --color-ash-950: oklch(14.7% 0.004 49.25);

    /* violet */
    --color-primary-50: oklch(97.7% 0.014 308.299);
    --color-primary-100: oklch(94.6% 0.033 307.174);
    --color-primary-200: oklch(90.2% 0.063 306.703);
    --color-primary-300: oklch(82.7% 0.119 306.383);
    --color-primary-400: oklch(71.4% 0.203 305.504);
    --color-primary-500: oklch(62.7% 0.265 303.9);
    --color-primary-600: oklch(55.8% 0.288 302.321);
    --color-primary-700: oklch(49.6% 0.265 301.924);
    --color-primary-800: oklch(43.8% 0.218 303.724);
    --color-primary-900: oklch(38.1% 0.176 304.987);
    --color-primary-950: oklch(29.1% 0.149 302.717);

    /* rose */
    --color-danger-50: oklch(96.9% 0.015 12.422);
    --color-danger-100: oklch(94.1% 0.03 12.58);
    --color-danger-200: oklch(89.2% 0.058 10.001);
    --color-danger-300: oklch(81% 0.117 11.638);
    --color-danger-400: oklch(71.2% 0.194 13.428);
    --color-danger-500: oklch(64.5% 0.246 16.439);
    --color-danger-600: oklch(58.6% 0.253 17.585);
    --color-danger-700: oklch(51.4% 0.222 16.935);
    --color-danger-800: oklch(45.5% 0.188 13.697);
    --color-danger-900: oklch(41% 0.159 10.272);
    --color-danger-950: oklch(27.1% 0.105 12.094);

    /* teal */
    --color-secondary-50: oklch(98.4% 0.014 180.72);
    --color-secondary-100: oklch(95.3% 0.051 180.801);
    --color-secondary-200: oklch(91% 0.096 180.426);
    --color-secondary-300: oklch(85.5% 0.138 181.071);
    --color-secondary-400: oklch(77.7% 0.152 181.912);
    --color-secondary-500: oklch(70.4% 0.14 182.503);
    --color-secondary-600: oklch(60% 0.118 184.704);
    --color-secondary-700: oklch(51.1% 0.096 186.391);
    --color-secondary-800: oklch(43.7% 0.078 188.216);
    --color-secondary-900: oklch(38.6% 0.063 188.416);
    --color-secondary-950: oklch(27.7% 0.046 192.524);
}

@layer utilities {
    .text {
        color: var(--color-ash-800);
    }

    .dark .text {
        color: var(--color-ash-100);
    }

    .surface {
        background-color: var(--color-ash-100);
    }

    .dark .surface {
        background-color: var(--color-ash-800);
    }
}

@layer components {
    .bg {
        background-color: var(--color-ash-100);
        @apply transition-all duration-200;
    }

    .bg:hover {
        background-color: var(--color-primary-300);
        color: var(--color-ash-800);
    }

    .dark .bg {
        background-color: var(--color-ash-800);
    }

    .dark .bg:hover {
        background-color: var(--color-primary-500);
        color: var(--color-ash-200);
    }

    .btn-primary {
        background-color: var(--color-primary-600);
        color: var(--color-white);
        @apply px-2 py-1 rounded;
    }

    .btn-primary:hover {
        background-color: var(--color-primary-400);
        @apply transition-all duration-500;
    }

    .btn-danger {
        background-color: var(--color-danger-600);
        color: var(--color-white);
        @apply px-2 py-1 rounded;
    }

    .btn-danger:hover {
        background-color: var(--color-danger-400);
        @apply transition-all duration-500;
    }

    .alert-error {
        background-color: var(--color-danger-800);
        color: var(--color-danger-200);
    }
}
